body{
	background: #F5F5F5;
	background-size: cover;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
}

.form_table{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 0px solid #CCCCCC;
	background: #FFFFFF;
	background-size: cover;
	color: #333333;
	overflow: hidden;
	box-shadow: 0 1px 6px rgba(0,0,0,0.30);
}

.form_table a, .outside a{
	color: #0D47A1;
}
.form_table a:visited, .outside a:visited{
	color: #0D47A1;
}


.q{
	padding: 10px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
	display: block;
}

.q .question{
	font-weight: bold;
}


.q .text_field{ /* input:text, input:password, textarea */
	background: #FAFAFA;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	border-width: 1px;
	color: #333333;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	margin: 1px 0;
	padding: 10px;
}


.q .drop_down{ /* select */
	background: #FAFAFA;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	border-width: 1px;
	color: #333333;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	margin: 1px 0;
	padding: 9px;
}


.q .scroller{
	border: 1px solid #CCCCCC;
}

.highlight, tr.highlight td{ /* active item highlight */
	background: #FFF9C4 !important;
}

.outside{
	color: #333333;
}

.outside_container{
	width: 650px;
	padding: 1em 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #333333;
}

.outside_container .submit_button{ /* submit buttons */
	color: #FFFFFF !important;
	background: #FF9800;
	background-size: auto;
	border-style: none;
	border-width: 1px;
	border-color: #FFFFFF;
	border-radius: 4px;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: bold;
	min-width: 30%;
	padding: 10px 20px;
	text-transform: uppercase;
	box-shadow: 0 1px 6px rgba(0,0,0,0.30);
}

.outside_container .submit_button:hover{
	background: #F57C00;
	border-color: #BBBBBB;
	background-size: auto;
}